html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}
/* Navbar*/
.nav-wrapper{
	display: block;
	position: fixed;
	height: 100px;
	width: 100%;
	z-index: 1;
	background: white;
}
.navbar{
	display: block;
	position: fixed;
	height:	100px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background: black;
	z-index: 1;

	/* opacity on scroll*/

}
.navbar-itemwrapper {
	display: block;
	height: 100%;
	margin: 0;
	padding-left: 20%;
	margin-right: 2%;
}
.navbar-itemwrapper ul {
	margin: 0px;
	padding: 0px;
	width: auto;
}
.nav-item1,
.nav-item2,
.nav-item3,
.nav-item4,
.nav-item5 {
	display: inline-block;
	color: white;
	width: 16%;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	/*padding: 30px 0px 50px 0px;*/
}
.nav-item6 {
	display: inline-block;
	width: 16%;
	text-align: center;
	vertical-align: middle;
	background: white;
	/*padding: 40px 0px 0px 0px;*/
}
.nav-contact {
	padding: 5px 0;
	cursor: pointer;
}
.nav-contact a {
	color: black;
	text-decoration: none;
}
.nav-contact a:hover {
	color: darkgrey;
}
.nav-social {
	display: inline-block;
	align-items: center;
	width:100%;
	padding-top: 12px;
	padding-bottom: 6px;
	vertical-align: middle;

}
.nav-social ul {
	display: inline-block;
	margin: 0;
	padding-left: 0;
}
.nav-social li {
	display: inline-block;
	list-style-type: none;
}
.nav-social li a {
	display: inline-block;
	height: 32px;
	/*transform: translateY(36px);*/
	/*margin: 36px 0px 32px 0px;*/
}
.submenu1,
.submenu2,
.submenu3,
.submenu4,
.submenu5 {
	display: none;
	margin-top: 100px;
	width:inherit;
}
.content{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	padding-top: 100px;
	margin: 0px 20px 20px 20px;
}
.section1{
	display: block;
	position: relative;
	margin: 10px 0;
	min-height: 60px;
	background: white;
	width: 100%;
}
.section1 h1{
	font-size: 40px;
}
/*Accordion*/
.section2 {
	display: block;
	position: relative;
	min-height: 60px;
	width: 100%;
}
/*.item-title h2:before {
	content:"";
	display: inline-block;
	width: 24px;
	min-height: 24px;
	padding-right: 10px;
	background: url(toggle-plus.png);
	background-repeat: no-repeat;
}*/
.item-title {
	display: inline-block;
	width:100%;
	padding-left: 10px;
	cursor: pointer;
	background: #d5e7b1;
	border: 1px solid darkgrey;
	border-radius: 5px;
}
.item-title i {
	height: 20%;
}
.item-title h2 {
	font-size: 32px;
}
.accordion .acc-item {
	display: none;
	padding: 0px 10px 0px 10px;
	margin-bottom: 5px;
	background: lightgrey;
	border: 1px solid darkgrey;
	border-radius: 5px;
}
.accordion .acc-item p {
	margin-top: 0;
	padding-top: 16px;
	padding-bottom: 16px;
}
/*.accordion .acc-item.active {
	display: block;
}*/